<!DOCTYPE html>
<html>
  <head>
    <title>Homework</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=auto, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
      body {
        background-color: #141414;
      }
      button {
        border-radius: 10px;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 10px 10px 10px 10px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
      }
      .td_edited {
        padding: 0px 10px;
        vertical-align: top;
      }
      .td_edited2 {
        padding: 0px 0px;
      }
      .button1 {
        background-color: green;
        border: 2px solid white;
        padding: 0px 0px;
        height: 34px;
        width: 117px;
        position: absolute;
        top: 74%;
        left: 0%;
      }
      .button2 {
        background-color: #ff0000;
        border: 2px solid white;
        padding: 0px 0px;
        height: 34px;
        width: 117px;
        position: absolute;
        top: 74%;
        right: 0%;
      }
      .button3 {
        background-color: grey;
        border: 2px solid white;
        padding: 0px 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 0%;
        right: 0%;
      }
      .counter {
        padding: 0px 0px;
        height: 34px;
        width: 50px;
        position: absolute;
        top: 79%;
        left: 42%;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        }
      @media screen and (min-width: 574px) {
        .basic_card {
          transition: 0.3s;
          background-color: white;
          padding: 8px 10px;
          border-radius: 12px;
          width: 300px;
          height: 200px;
          position: relative;
          top: 20px;
          display: inline-flex;
          margin-right: 10px;
        }
        .card {
          transition: 0.3s;
          padding: 2px 16px;
          height: 300px;
          overflow-x: auto;
          overflow-y: auto;
          white-space: nowrap;
        }
        .card2 {
          transition: 0.3s;
          background-image: white;
          padding: 2px 16px;
          overflow-x: auto;
          overflow-y: auto;
          white-space: nowrap;
          height: 300px;
        }
        .card3 {
          transition: 0.3s;
          background-image: white;
          padding: 2px 16px;
          overflow-x: auto;
          overflow-y: auto;
          white-space: nowrap;
          height: 300px;
        }
        h2 {
          position: absolute;
          top: 0px;
          left: 10px;
        }
        h3 {
          position: absolute;
          top: 290px;
          left: 10px;
        }
        h4 {
          position: absolute;
          top: 600px;
          left: 10px;
        }
        .card-columns {
          column-count: 5;
        }
      }
      @media screen and (min-width: 0px) and (max-width: 573px) {
        .card-columns {
          column-count: 1;
        }
        .basic_card {
          transition: 0.3s;
          background-color: white;
          padding: 8px 10px;
          border-radius: 12px;
          width: 92vw;
          height: 200px;
          position: relative;
          top: 20px;
          display: inline-flex;
          margin-right: 10px;
        }
        .card {
          transition: 0.3s;
          padding: 2px 16px;
          overflow-x: hidden;
          overflow-y: auto;
          white-space: normal;
        }
        .card2 {
          transition: 0.3s;
          padding: 2px 16px;
          overflow-x: hidden;
          overflow-y: auto;
          white-space: normal;
        }
        .card3 {
          transition: 0.3s;
          padding: 2px 16px;
          overflow-x: hidden;
          overflow-y: auto;
          white-space: normal;
        }
        .button1 {
          width: 132px;
        }
        .button2 {
          width: 132px;
        }
        .counter {
          left: 43%;
          top: 76%;
          font-size: 20px;
        }
      }
      .img {
        height: 60px;
        width: 50px;
        vertical-align: 10px;
      }
      p {
        margin: 0 auto;
        position: relative;
        white-space: wrap;
      }
      .text1 {
        white-space: normal;
      }
      .text {
        color: #737373;
        max-height: 58px;
        overflow: hidden;
      }
      ::-webkit-scrollbar {
        background: transparent;
      }
    </style>
  </head>
  <body background-color: white);>
    <div class="card">
      <div class="row">
        <div class="container-fluid">
          <br>
          <div><h2 style="font-size:30px; color:white"><b>Trending</b></h2></div>
          <br>
          <div class="basic_card"> <!--Aparentemente tener class="row" causa un error en el white-space del texto. Solucionar o eliminar esto-->
            <div class="container">
              <table>
                <tr>
                  <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_1 }}"; class="img"></img></td>
                  <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_1 }}</b></p>
                  <p style="font-size:13px" class="text">Average Rating: {{ average_1 }}</p></td>
                </tr>
              </table>
              <div>
                <button class = "button3" onclick="SpiderMan()">i</button>
              </div>
              <script>
              function SpiderMan() {
                location.href = "https://www.themoviedb.org/movie/429617-spider-man-far-from-home?language=en-US"
              }
              </script>
              <div>
                <p style="font-size:14.5px" class="text text1">{{ overview_1 }}</p>
                <table>
                  <tr>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button1" type = "submit" name="button1" value="add">Like</button>
                      </form>
                    </td>
                    <td><h5 class="counter">{{ count_1 }}</h5></td>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button2" type = "submit" name="button2" value="sub">Dislike</button>
                      </form>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="basic_card">
            <div class="container">
              <table>
                <tr>
                  <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_2 }}"; class="img"></img></td>
                  <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_2 }}</b></p>
                  <p style="font-size:13px" class="text">Average Rating: {{ average_2 }}</p></td>
                </tr>
              </table>
              <div>
                <button class = "button3" onclick="LionKing()">i</button>
              </div>
              <script>
              function LionKing() {
                location.href = "https://www.themoviedb.org/movie/420818-the-lion-king?language=en-US"
              }
              </script>
              <div>
                <p style="font-size:14.5px" class="text text1">{{ overview_2 }}</p>
                <table>
                  <tr>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button1" type = "submit" name="button3" value="add">Like</button>
                      </form>
                    </td>
                    <td><h5 class="counter">{{ count_2 }}</h5></td>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button2" type = "submit" name="button4" value="sub">Dislike</button>
                      </form>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="basic_card">
            <div class="container">
              <table>
                <tr>
                  <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_3 }}"; class="img"></img></td>
                  <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_3 }}</b></p>
                  <p style="font-size:13px" class="text">Average Rating: {{ average_3 }}</p></td>
                </tr>
              </table>
              <div>
                <button class = "button3" onclick="ElCamino()">i</button>
              </div>
              <script>
              function ElCamino() {
                location.href = "https://www.themoviedb.org/movie/559969-el-camino-a-breaking-bad-movie?language=en-US"
              }
              </script>
              <div>
                <p style="font-size:14.5px" class="text text1">{{ overview_3 }}</p>
                <table>
                  <tr>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button1" type = "submit" name="button5" value="add">Like</button>
                      </form>
                    </td>
                    <td><h5 class="counter">{{ count_3 }}</h5></td>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button2" type = "submit" name="button6" value="su">Dislike</button>
                      </form>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="basic_card">
            <div class="container">
              <table>
                <tr>
                  <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_4 }}"; class="img"></img></td>
                  <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_4 }}</b></p>
                  <p style="font-size:13px" class="text">Average Rating: {{ average_4 }}</p></td>
                </tr>
              </table>
              <div>
                <button class = "button3" onclick="ToyStory()">i</button>
              </div>
              <script>
              function ToyStory() {
                location.href = "https://www.themoviedb.org/movie/301528-toy-story-4?language=en-US"
              }
              </script>
              <div>
                <p style="font-size:14.5px" class="text text1">{{ overview_4 }}</p>
                <table>
                  <tr>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button1" type = "submit" name="button7" value="add">Like</button>
                      </form>
                    </td>
                    <td><h5 class="counter">{{ count_4 }}</h5></td>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button2" type = "submit" name="button8" value="su">Dislike</button>
                      </form>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="basic_card">
            <div class="container">
              <table>
                <tr>
                  <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_5 }}"; class="img"></img></td>
                  <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_5 }}</b></p>
                  <p style="font-size:13px" class="text">Average Rating: {{ average_5 }}</p></td>
                </tr>
              </table>
              <div>
                <button class = "button3" onclick="Joker()">i</button>
              </div>
              <script>
              function Joker() {
                location.href = "https://www.themoviedb.org/movie/475557-joker?language=en-US"
              }
              </script>
              <div>
                <p style="font-size:14.5px" class="text text1">{{ overview_5 }}</p>
                <table>
                  <tr>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button1" type = "submit" name="button9" value="add">Like</button>
                      </form>
                    </td>
                    <td><h5 class="counter">{{ count_5 }}</h5></td>
                    <td>
                      <form action = "/" method="POST">
                        <button class = "button2" type = "submit" name="button10" value="su">Dislike</button>
                      </form>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="card2">
    <div class="row">
      <div class="container-fluid">
        <br>
        <div><h3 style="font-size:30px; color:white"><b>Discover</b></h3></div>
        <br>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_6 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_6 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_6 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="Maleficent()">i</button>
            </div>
            <script>
            function Maleficent() {
              location.href = "https://www.themoviedb.org/movie/420809-maleficent-mistress-of-evil?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_6 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button11" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_6 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button12" value="su">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_7 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_7 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_7 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="GeminiMan()">i</button>
            </div>
            <script>
            function GeminiMan() {
              location.href = "https://www.themoviedb.org/movie/453405-gemini-man?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_7 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button13" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_7 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button14" value="sub">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_8 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_8 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_8 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="Fast()">i</button>
            </div>
            <script>
            function Fast() {
              location.href = "https://www.themoviedb.org/movie/384018-hobbs?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_8 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button15" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_8 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button16" value="sub">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_9 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_9 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_9 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="Ip4()">i</button>
            </div>
            <script>
            function Ip4() {
              location.href = "https://www.themoviedb.org/movie/449924-ip-man-4?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_9 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button17" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_9 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button18" value="sub">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_10 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_10 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_10 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="Aladdin()">i</button>
            </div>
            <script>
            function Aladdin() {
              location.href = "https://www.themoviedb.org/movie/420817-aladdin?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_10 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button19" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_10 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button20" value="sub">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="card3">
    <div class="row">
      <div class="container-fluid">
        <br>
        <div><h4 style="font-size:30px; color:white"><b>Upcoming</b></h4></div>
        <br>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_11 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_11 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_11 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="Zombieland()">i</button>
            </div>
            <script>
            function Zombieland() {
              location.href = "https://www.themoviedb.org/movie/338967-zombieland-double-tap?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_11 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button21" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_11 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button22" value="sub">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_12 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_12 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_12 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="Terminator()">i</button>
            </div>
            <script>
            function Terminator() {
              location.href = "https://www.themoviedb.org/movie/290859-terminator-dark-fate?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_12 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button23" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_12 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button24" value="sub">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_13 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_13 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_13 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="Addams()">i</button>
            </div>
            <script>
            function Addams() {
              location.href = "https://www.themoviedb.org/movie/481084-the-addams-family?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_13 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button25" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_13 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button26" value="sub">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_14 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_14 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_14 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="Hustlers()">i</button>
            </div>
            <script>
            function Hustlers() {
              location.href = "https://www.themoviedb.org/movie/540901-hustlers?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_14 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button27" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_14 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button28" value="sub">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="basic_card">
          <div class="container">
            <table>
              <tr>
                <td class="td_edited2"><img src="http://image.tmdb.org/t/p/w185//{{ poster_15 }}"; class="img"></img></td>
                <td class="td_edited"><p style="font-size:18px" class="text1"><b>{{ title_15 }}</b></p>
                <p style="font-size:13px" class="text">Average Rating: {{ average_15 }}</p></td>
              </tr>
            </table>
            <div>
              <button class = "button3" onclick="Lighthouse()">i</button>
            </div>
            <script>
            function Lighthouse() {
              location.href = "https://www.themoviedb.org/movie/503919-the-lighthouse?language=en-US"
            }
            </script>
            <div>
              <p style="font-size:14.5px" class="text text1">{{ overview_15 }}</p>
              <table>
                <tr>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button1" type = "submit" name="button29" value="add">Like</button>
                    </form>
                  </td>
                  <td><h5 class="counter">{{ count_15 }}</h5></td>
                  <td>
                    <form action = "/" method="POST">
                      <button class = "button2" type = "submit" name="button30" value="sub">Dislike</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>                
    </div>
  </body>
</html>
